html{
	font-size: 40px;
	min-width: 320px;/* 最小宽度 */
	max-width: 750px;/* 最大宽度 */
	margin:0 auto;
}
.heard{
	height: 2.2rem;
	width: 100%;
	background: #1C1B1F;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.heads{font-size:0px;}
.backicon{
      	width:1.5rem;
      	height: 1.5rem;
      	background: url(../images/back.png) no-repeat;
      	position: absolute;
      	background-size:cover;
      	-webkit-background-size:cover;
      	-moz-background-size:cover;
      	-ms-background-size:cover;
      	-o-background-size:cover;
      	top:50%;
      	margin-top: -0.75rem;
      }
.heard h2{
		padding-left: 1.2rem;
		font-size:0.775rem;
		font-family: '微软雅黑';
		line-height: 2.2rem;
		font-weight: normal; 
		}
		
.num1{
	width: 18.75rem;
	height: 12.625rem;
	background: url(../images/friend/numb1.jpg) center top no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin: 0 auto;

}
.num2{
	width: 18.75rem;
	height: 34.425rem;
	background: url(../images/friend/numb2.jpg) center top no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin: 0 auto;
	position: relative;

}
.num3{
	width: 18.75rem;
	height: 9.625rem;
	background: url(../images/friend/numb3.jpg) center top no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin: 0 auto;
}
.main .icon_1{position:absolute;width:100%;bottom:0.1rem;}
.icon_1 a{
	font-size:0.65rem;
	text-align: center;
	color: #646464;
	margin-bottom: 1.2rem;
	display: block;
}

.icon_1 button{
	width: 91.4%;
	height: 1.925rem;
	display:block;
	font-size:0.85rem;
	color: #fff;
	background: #E9273F;
	font-family: '微软雅黑';
	border-radius: 10px;
	margin: 0rem auto 0.8rem;
	line-height: 1.925rem;
	text-align: center;
	z-index: 99;
}
.icon_1 button:hover
{background: #90101F;}

.footwrp{
	width: 100%;
	color: #77461E;
	background:#FFCE89;
	position: relative;
	padding-bottom:0.1rem;
}
.information{
	width: 91.4%;
	font-size:0.6rem;
	color: #fff; 
	padding:0.875rem 0.75rem;
	border-radius: 20px;
	margin:0.5rem auto 0rem;
	z-index: 100;
}
.information p.realPerson{
	font-size: 0.85rem;
	color: #75471B;
	text-indent: 1.2em;
	vertical-align: middle;
	background: url(../images/friend/iconfont-geren.png) 0 center no-repeat;
	display: inline-block;
	float: left;
}
.information .leve_ico{
	display: inline-block;
	float: left;
	margin-top:-8px;

}
.information ul li img{
	width: 0.75rem;
	height: 0.95rem;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin: 0 auto;
}
.information ul li{
	float: left;
	width: 1.5rem;
	height: 1.0rem;
	margin: 0 0.5rem;
	height: auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.5rem;
}
.information ul li.active {
	width: 1.8rem;
	height: 1.325rem;
	background: #C7975D;
	border-radius: 50%;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
 }
 .information .content_msg{
	 min-width:55.8%;
	 display: inline-block;
 	height: 1.725rem;
 	line-height: 1.725rem;
 	font-size: 0.85rem;
 	margin-top: 0.5rem;
 	border-radius: 8px;
 	text-indent: 1em;
 	color:#fff;
 	background: #CDA26D;
	 padding-right:1%;
 	 }
 .information .content_msg span{
	 font-size: 0.9rem;
 	padding:0rem 0.65rem;
 	background: #BC935F;
 	}
.information .content_msg strong{font-weight:bold;}
 .information .submenu{
	padding:1rem 0rem;
	border-radius: 10px;
	background: #C9985E;
 }
.information img{display:block;}
.information .submenu span{font-size:0.75rem;}
.information input,.information select,.information .ticheng_btn input{
	width:97%;
	height: 2.2rem;
	font-size: 0.75rem;
	color: #744517;
	border-radius: 5px;
	background: #fff;
	padding-left: 3%;
	border:1px solid #ac7d44;
	margin: 0.5rem 0;
}
.information select{width:100%;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url(../images/friend/tc_selectbg.png) right center no-repeat;background-size:auto 2.2rem;}
.information .submenu li span{
	font-size: 0.85rem;
	line-height: 0.85rem;
}
.info_top{border-top-left-radius:20px;border-top-right-radius:20px;border-radius-bottom:0px;margin-top: 0.625rem;background: #c8985d;padding:0px 4.3%;}
.all_cul{position:relative;border-bottom-left-radius:20px;border-bottom-right-radius:20px;background: #c8985d;padding:1rem 4.3%;}
.all_cul div{font-size:0.85rem;}
.all_cul div span{color:#e9273e;}
.all_cul .cul_income{margin-bottom: 0.5rem;}
.msg{
	width: 16.6rem;
	padding:0.05rem 0.9rem 2rem;
	color:#75491C;
	font-size: 0.675rem;
	z-index: 0;
	line-height: 1rem; 
	}
.footwrp .icon_2{
	bottom: 3.5rem;
	display: block;
	width: 100%;
}

/*以下是红包规则*/
.tab1{
	padding:2rem 0.9rem;
	font-size: 0.55rem;
	line-height: 0.9rem;
}
.tab1 h3{
	text-align: center;
	padding-bottom: 0.6rem;
	font-size: 0.7rem;
}

.dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .6;
	filter: "alpha(opacity=40)";
	z-index: 9999;
	display: none;
}
/*以下为弹窗气泡的图睛*/
.sharetab{
    display:none;
	width: 10.1rem;
	height:6.6rem;
	background:url(../images/dream/paopao.png)  top center no-repeat;
	position: fixed;
	z-index: 10000;
	background-size:cover;
	left:50%;
	top:10%;
	margin-left: -2rem;



}