@charset "utf-8";
/*++++++++++++++++++++++++++++
+ CSS Document				 +
+ Date:2016-03-31			 +
++++++++++++++++++++++++++++*/

.act{ width:100%; background:#faf2e3; margin:0 auto; max-width:750px; padding-bottom:10px;}
img.block{ display:block;}
.state{width:100%; background:#0b4825; padding:10px 10px 15px 15px; box-sizing:border-box;}
.state h4{ font-size:1.6em; color:#fff; padding:10px 0;}
.state li{font-size:1.4em; line-height:1.5em; color:#deffb8; background:url(../images/dream_day2/list_point.png) no-repeat 0 8px; padding-left:15px;}
.actBtnCon{ width:100%; background:url(../images/dream_day2/house.jpg) no-repeat 0 0; background-size:100% auto; padding:30px 0 0 0; text-align:center;}
.actBtnConT{padding:0; text-align:left;}
.actBtnCon .each{padding:20px 0; margin:0 auto; position:relative; z-index:1;}
.actBtnCon .each .eachInside{width:100%;box-sizing:border-box;}
.actBtnCon .each .linkBtn{ display:block; background:url(../images/dream_day2/btn_bg_1.png) no-repeat 0 0; background-size:100% auto; position:absolute; color:#faffa6; text-align:center; z-index:2;}
.actBtnCon .each .hasSignIn{background:url(../images/dream_day2/btn_bg_2.png) no-repeat 0 0; background-size:100% auto; color:#fff;}
.chaBtn {padding:10px 0 30px 0;}
.chaBtn .linkBtn{ display:block; width:25%; height:35px; line-height:34px; border:2px solid #366748; margin:0 auto; border-radius:40px; font-size:1.6em; color:#366748; text-align:center; vertical-align:middle; min-width:165px;}
.chaBtn .linkBtn img{ vertical-align:middle; margin-left:10px;}
.rankingList{width:95%; margin:0 auto;}
.rankingList2{ padding-top:30px;}
.rankingList .list{background:url(../images/dream_day2/ranking_body.png) no-repeat 0 0; background-size:100% 100%;}
.rankingList .list .tbl{ width:90%; margin:0 auto;}
.rankingList .tbl td{text-align:center; font-size:1.4em; color:#0b4825; height:38px; line-height:38px; padding:0 10px;}
.rankingList .tbl thead td{ padding-bottom:10px;}
.rankingList .tbl tbody tr:nth-child(odd) td{background:#f1e8d7;}
.rankingList .tbl span.total{display:block; text-align:right; padding-right:20px; white-space:nowrap; background:url(../images/dream_day2/tea.png) no-repeat right 8px;}
.rankingList .tbl span.totalJ{ margin-right:20px;}
.rankingList .mine{height:44px; padding:5px 10px 15px 10px; width:90%; box-sizing:border-box; margin:15px auto 0 auto; border-top:2px solid #94c39a;}
.rankingList .mine span{ font-size:1.4em; height:24px; line-height:24px; color:#0b4825;}
.rankingList .mine img{ vertical-align:top; margin-left:5px;}

.rule{background:#1c6313; width:95%; margin:20px auto; padding:0 10px 10px 10px; box-sizing:border-box;}
.rule h2{font-size:1.6em; color:#fff; text-align:center; height:50px; line-height:50px;}
.rule .bg{background:url(../images/dream_day2/texture_bg.jpg) repeat 0 0;}
.redBag .tbl{ width:95%; margin:0 auto;}
.redBag .tbl td{text-align:left; font-size:1.4em; color:#ccedb9; padding:0 10px; height:32px; line-height:32px;}
.redBag .tbl td.textR{ text-align:right;}
.redBag .tbl thead td{color:#f0f6a0; padding:10px; font-size:1.6em;}
.redBag .tbl tbody tr:nth-child(odd) td{background:#1a5b12;}
.redBag .tips{ background:#fff9d3; padding:10px; font-size:1.4em; line-height:1.4em; color:#6f370b; margin-top:15px;}
.actRuleDetail{font-size:1.4em; line-height:1.4em; color:#fff; padding-top:15px;}
.actRuleDetail dl{padding-bottom:10px;}
.actRuleDetail dl dt{ display:block; width:36px; height:36px; float:left; padding-top:5px;}
.actRuleDetail dl dd{ margin-left:45px;}

.alertBox{display:none; border:5px solid #e69657; position:fixed; top:50%; left:50%; z-index:9999; border-radius:4px;}
.alertBgOne{background:#fff url(../images/dream_day2/alertBox_bg.jpg) no-repeat 0 0; width:270px; height:237px; margin:-118px 0 0 -135px;}
.alertBox .location{position:relative; padding-top:30px;}
.alertBox .location .close{ display:block; width:30px; height:30px; text-align:center; line-height:27px; color:#0b4825; font-size:3em; position:absolute; top:0; right:0;}
.alertBox p.tipsWord{font-size:2.4em; color:#0b4825; text-align:center; padding:15px 0;}
.alertBox p.success{padding:30px 0 0 0; line-height:40px;}
.alertBox p.successT{ padding:15px 0 0 0; line-height:35px;}
.alertBox p.success span{ margin:0 3px;}
.alertBox .loginBtn{display:block; width:213px; height:68px; background:url(../images/dream_day2/btn_bg.png) no-repeat; position:absolute; left:28px; top:100px; font-size:1.8em; color:#faffa6; text-align:center; line-height:63px;}
.alertBox .join{ top:130px;}
#shareTips{ display:none; width:80%; position:fixed; top:5px; right:15px; z-index:9999;}
.fixNav{position:fixed; right:0; top:20px; z-index:10;}
.fixNav a{display:block; width:70px; height:35px; line-height:35px; font-size:1.2em; color:#628957; background:url(../images/dream_day2/fixBtn.png) no-repeat 0 0; background-size:100% 100%; margin-bottom:5px; box-sizing:border-box; padding-left:28px; margin-left:10px; transition:margin-left linear 0.3s,width linear 0.3s;}
.fixNav a.current{width:80px; background:url(../images/dream_day2/fixBtnCur.png) no-repeat 0 0; background-size:100% 100%; margin-left:0; transition:margin-left linear 0.3s,width linear 0.3s;}
.help{width:100%; padding:20px; box-sizing:border-box; background:#fefaf4;}
.help h2{ font-size:1.6em; color:#e26d16; line-height:1.4em; text-align:center; padding-bottom:15px;}
.help dl dt{ display:block; width:50%; padding-right:5%; box-sizing:border-box; float:left;}
.help dl dt img{ max-width:292px;}
.help dl dd{display:block; width:50%; float:right;}
.help dl dd p{ font-size:1.4em; line-height:1.5em; color:#0b4825; padding-left:10px;}
.help dl dd p img{ vertical-align:middle; margin-left:5px;}
.help .helpBtn{display:block; background:url(../images/dream_day2/btn_bg.png) no-repeat; background-size:100% auto; color:#faffa6; text-align:center; line-height:63px; margin-bottom:10px;}
.help .hasSignIn{background:url(../images/dream_day2/btn_bg_2.png) no-repeat 0 0; background-size:100% auto; color:#fff;}
.actBtnCon .each .invest,.actBtnCon .each .signIn,.actBtnCon .each .inviteFriends{left:50%;}
.nonetab{display: none;font-size: 14px;text-align: center;height: 24px;line-height: 24px;color:#0b4825;height:44px; padding:5px 10px 15px 10px; width:90%; box-sizing:border-box; margin:15px auto 0 auto;}
.nonetab a{color:red;}
@media (min-width:320px) and (max-width:360px) {
	.actBtnCon .each{ width:270px;}
	.actBtnCon .each .linkBtn,.actBtnCon .each .hasSignIn{width:150px; height:50px; line-height:43px; bottom:30px; font-size:1.3em;}
	.rankingList .tbl span.totalJ{margin-right:0;}
	.help h2{ font-size:1.4em;}
	.help dl dd p{ font-size:1.2em;}
	.help .helpBtn,.help .hasHelpBtn{width:150px; height:50px; line-height:43px; font-size:1.3em;}
	.actBtnCon .each .invest,.actBtnCon .each .signIn,.actBtnCon .each .inviteFriends{ margin-left:-75px;}
}
@media (min-width:360px) and (max-width:480px) {
	.actBtnCon .each{ width:340px;}
	.actBtnCon .each .linkBtn,.actBtnCon .each .hasSignIn{width:150px; height:50px; bottom:30px; font-size:1.4em; line-height:43px;}
	.help .helpBtn,.help .hasHelpBtn{width:150px; height:50px; line-height:43px; font-size:1.4em;}
	.actBtnCon .each .invest,.actBtnCon .each .signIn,.actBtnCon .each .inviteFriends{ margin-left:-75px;}
}
@media (min-width:480px) and (max-width:639px) {
	.actBtnCon .each{ width:440px;}
	.actBtnCon .each .linkBtn,.actBtnCon .each .hasSignIn{width:213px; height:68px; bottom:35px; font-size:1.8em; line-height:62px;}
	.help .helpBtn,.help .hasHelpBtn{width:213px; height:68px; bottom:35px; font-size:1.8em; line-height:62px;}
	.help dl dd p{ font-size:1.6em;}
	.help dl dd{ padding-top:20px;}
	.actBtnCon .each .invest,.actBtnCon .each .signIn,.actBtnCon .each .inviteFriends{ margin-left:-106px;}
}
@media (min-width:639px){
	.actBtnCon .each{ width:580px;}
	.actBtnCon .each .linkBtn,.actBtnCon .each .hasSignIn{width:213px; height:68px; bottom:35px; font-size:1.8em; line-height:62px;}
	.help .helpBtn,.help .hasHelpBtn{width:213px; height:68px; bottom:35px; font-size:1.8em; line-height:62px;}
	.help dl dd p{ font-size:1.8em;}
	.help dl dd{ padding-top:20px;}
	.actBtnCon .each .invest,.actBtnCon .each .signIn,.actBtnCon .each .inviteFriends{ margin-left:-106px;}
}





















































