html{
	font-size: 40px;
	min-width: 320px;/* 最小宽度 */
	max-width: 750px;/* 最大宽度 */
	margin:0 auto;
}
.top{
	width:18.75rem;
	height: 17.625rem;
	background: url(../images/h5luck/banner_1.jpg) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: relative;
}
.top p{
	font-size: 0.8rem;
	line-height: 1rem;
	color: #fff;
	text-align: center;
	width: 100%;
	top:15.2rem;
	position: absolute;
	z-index: 99;

}
.top b{
	font-size: 1.5rem;
	font-weight: normal;
	vertical-align: middle;
	padding:0.3rem 0.3rem;	
}
.midworp{
	width:18.75rem;
	height: 24.15rem;
	background: url(../images/h5luck/h5-banner_2.jpg) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: relative;
}
.rotate-bg{
	width:14.575rem;
	height: 14.6rem;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: absolute;
	left:50%;
	margin-left: -7.2875rem;
	top:1.1rem;

}
.lottery-star{
	width:4.475rem;
	height: 7.175rem;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: absolute;
	left:50%;
	margin-left: -2.2375rem;
	top:3.5rem;
	z-index: 99;
}
.endwrap{
	position: absolute;
	bottom:2.5rem;
	width:16rem;
	height:2.275rem;
	/*border: 1px solid #000;*/
	left:50%;
	margin-left: -8rem;

}
.endwrap button{
	font-size: 0.65rem;
	width: 6.75rem;
	height: 2.275rem;
	color: #552c13;
	font-family: '微软雅黑';
	text-align: center;
	background: url(../images/h5luck/yellow_icon1.png) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: absolute;
	line-height: 2.275rem;
	margin:0 0.7rem;
	/*margin-left: */

}
.endwrap button a{
	font-size: 0.65rem;
	color: #552c13;
	font-family: '微软雅黑';
	text-align: center;

}
.endwrap button:hover{
background: url(../images/h5luck/yellow_icon2.png) center 0 no-repeat;
background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  	
}
.endwrap button:last-child{
	margin-left: 8.55rem;
	background: url(../images/h5luck/red_icon1.png) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
}
.endwrap button:last-child:hover{
	background: url(../images/h5luck/red_icon2.png) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
}
.footlast{
	width:18.75rem;
	height: 23.1rem;
	background: url(../images/h5luck/banner_3.jpg) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: relative;
}


.lotteryDialog{
	position:fixed;
	width: 11.425rem;
	height: 5.675rem;
	padding:1rem;
	background: url(../images/h5luck/tangchuang1.png) center 0  no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	left:50%;
	margin-left: -6.7125rem;
	top: 30%;
	z-index: 9998;
	color: #ff3b10;
	font-family: '微软雅黑';
}
.lottery{
	background: url(../images/h5luck/tangchuang2.png) center 0  no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
}
.lotteryDialog .btn{
	width: 7.05rem;
	height: 2.175rem;
	display: block;
	margin: 0.5rem auto;
	text-align: center;
	/*border: 1px solid #000;*/
	font-size: 0.6rem;
	color: #500000;
	font-family: '微软雅黑'; 
	background: url(../images/h5luck/icon.png) center 0  no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;   
}
.lotteryDialog a.laoding{
	font-size: 0.6rem;
	color: #500000;
	text-align: center;
	display: block;
	font-family: '微软雅黑'; 
	pointer-events: none;
	margin-top: -2.1rem;

}
.lotteryDialog h3,.lotteryDialog h4{
	font-size: 0.65rem;
	text-align: center;
	line-height: 1.2rem;
	color: #ff3b10;

}
.lotteryDialog h4 a{
	font-size: 0.65rem;
	text-align: center;
	line-height: 1.2rem;
	color: #ff3b10;
	padding-top: 1.5rem;
	font-family: '微软雅黑'; 
	text-decoration: underline;
}
.lotteryDialog h4 a:hover{
	text-decoration: underline;
	color: #666;
}
.lotteryDialog h3{
	padding-top: 1.0rem;
}
/*.lotteryDialog button{
	
	font-size: 0.65rem;
	width: 7.05rem;
	height: 2.175rem;
	background: url(../images/h5luck/icon.png) center center no-repeat;
	margin-top: 0.8rem;
	color: #ff3b10;
	line-height:2.175rem;
	position: absolute;
	left:50%;
	margin-left: -3.525rem;
	text-align: center;
}*/

.close{
		width: 1.2rem;
		height: 1.2rem;
		background: url(../images/h5luck/hidden.png) no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover; 
		-o-background-size: cover;  
		right: 0.5rem;
		top:0.5rem;
		position: absolute;
		z-index:9999;
	}
.dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .5;
	filter: "alpha(opacity=40)";
	z-index: 9990;
	display: none;
}
