.midworp2{
	width:18.75rem;
	height: 20.6rem;
	background: url(../images/h5luck/money_tree3.jpg) center 0 no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	-o-background-size: cover;  
	position: relative;
}
.endwrap2{
	position: absolute;
	width: 7.6rem; 
	top:15.5rem;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);  

}
.endwrap2 button{
	width: 7.6rem;
	height: 2.775rem;
	display: inline-block;
	background: none;
	color: none;
}
.midworp2 .textin{
	font-size: 0.75rem;
	width: 100%;
	color: #CE8C1A;
	text-align: center;
	position: absolute;
	top:18.4rem;
}