html{min-width: 320px; max-width: 750px;}
img{display:block;}
.wd100{width: 100px; text-align: center;}
.colPurple{background: #8B90CB; color: #fff;}
.line20{line-height: 20px;}
.line40{line-height: 40px;}
.whirt{color: #fff;}
.redBtn{background: #F74E4B;}
.goldKing{background: #AF9257; color: #fff;}
.bgNorml{background: none; border: 1px solid #fff;}
.confirm .single .borrowDetail {display: block; margin-bottom: 25px; width: 100%;}
.confirm .single .canDo { width: 65%; padding-left: 5%; min-width: 230px;}
.confirm .single .name{ width: 25%; height:40px; line-height: 40px;}
.confirm .single .name,.confirm .single .canDo { float: left; display: inline-block;font-size: 1.3em; border-radius: 5px; vertical-align: top;}
.confirm .single{width: 90%; padding: 2% 5% 10%; color: #666666;}
.single h2{font-size: 1.9em; line-height: 3.0em;}
.confirm .single em{font-size: 1.2em; line-height: 2.0em; padding-left: 8px;}
.confirm .middle{text-align: center; font-size: 2.0em; line-height: 2.0em; }
.confirm .middle b{font-weight: normal;}
.confirm .Btn { display: block; width: 40%; height: 45px; line-height: 45px;text-align: center; color: #fff; font-size: 1.8em; margin: 20px auto;border-radius: 5px; cursor: pointer;}
/* .bgRegister{width: 100%; height: auto; background: url(../images/zt/newpeople/bg_c11.jpg) repeat-y center 0; background-size: 100% auto;}  */
.bgRegister2{width: 100%; height: 100%; background: url(../images/zt/newpeople/H5_r10.png) repeat-y center 0; background-size: 100% auto;}
.bgRegister{background: #b99d62; width: 100%;}
@media (min-width:320px) and (max-width:374px) {
	.confirm .single .name{ font-size: 1.1em; width: 18%;}
	.confirm .single .canDo {font-size: 1.1em; min-width: 198px; padding-left: 3%;}
}
.btn_prize{background:#db403d;}
.btn_prize:active{background:#ff726f;}
.btn_prize:hover{background:#f74e4b;}