html{
	font-size: 40px;
	min-width: 320px;/* 最小宽度 */
	max-width: 750px;/* 最大宽度 */
	margin:0 auto;
	font-family: '微软雅黑';
}

.heard{
	height: 2.2rem;
	width: 100%;
	background: #1C1B1F;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.backicon{
      	width:1.5rem;
      	height: 1.5rem;
      	background: url(../images/back.png) no-repeat;
      	position: absolute;
      	background-size:cover;
      	-webkit-background-size:cover;
      	-moz-background-size:cover;
      	-ms-background-size:cover;
      	-o-background-size:cover;
      	top:50%;
      	margin-top: -0.75rem;
      }
.heard h2{
		padding-left: 1.2rem;
		font-size:0.775rem;
		font-family: '微软雅黑';
		line-height: 2.2rem;
		font-weight: normal; 
		}
/*以上为返回代码*/

/*以下为下载即可得188元红包代码样式*/
.fixdown{
	position: fixed;
	width: 18.75rem;
	height: 2.2rem;
	background: url(../images/friend/fixbottum.png) bottom center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	z-index: 999;
	bottom: 0;
}
.banner_01{
		width: 18.75rem;
		height: 20.325rem;
		background: url(../images/friend/banner_01.jpg) center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		margin: 0 auto;
		position: relative;
}
.banner_01 input{
		width: 15.4rem;
		height: 2.2rem;
		font-size:0.75rem;
		padding-left: 0.6rem;
		left:50%; 
		border-top: 1px solid #ccc;
		margin-left:-8rem;
		top:14.075rem;
		font-family: '微软雅黑';
		position: absolute;
		display: block;

}
.banner_01 button{
		width: 16rem;
		height: 2.2rem;
		font-size:0.95rem;
		text-align: center;
		color: #BB132D;
		left:50%;
		margin-left:-8rem;
		top:16.875rem;
		font-family: '微软雅黑';
		position: absolute;
		background: url(../images/friend/btn_01.png) center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		
}	
.fixchuang{
	position: fixed;
	width: 17.125rem;
	height: auto;
	top:30%;
	text-align: center;
	z-index: 10000;
	font-family: '微软雅黑';
	left:50%;
	margin-left: -8.5625rem;
	color: #BB132D;
}

.close{
		width: 1.5rem;
		height: 1.5rem;
		background: url(../images/friend/close.png) no-repeat;
		right: -0.5rem;
		top:-0.9rem;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		position: absolute;
	}

.dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .6;
	filter: "alpha(opacity=40)";
	z-index: 9999;
	display: none;
}
p.one{
	font-size: 0.90rem;
	width: 17.125rem;
	top:2.2rem;
	/*left:50%;
	transform: translateX(-50%);*/

	text-align: center;
	position: absolute;
}
b.num{
	font-size: 0.90rem;
	top:6.2rem;
	left:10rem;
	position: absolute;
	color: #FBF499;
}
button{
	font-size: 0.90rem;
	width: 7.5rem;
	height: 2.2rem;
	font-family: '微软雅黑';
	color: #BB132D; 
	top:9rem;
	left:50%;
	margin-left: -3.75rem;
	background:url(../images/friend/sure.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	position: absolute;
}
.fixchuang input{
	width: 14.6rem;
	height: 2.2rem;
	font-size: 0.8rem;
	margin-top: 0.6rem;
	padding-left: 0.4rem;
	top:3.575rem;
	left:50%;
	border-top: 1px solid #ccc;
	margin-left: -7.5rem;
	position: absolute;
}
button.get{
	width: 5.95rem;
	height: 2.2rem;
	font-size: 0.85rem;
	color: #F16937;
	background:url(../images/friend/yanzheng.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	display: inline-block;
	position: absolute;
	top:7rem;
	left: 13.8rem;
}
#code{
	top:6.375rem;
	width:7.5rem;
	display: inline-block; 

}
#password{
	top:9.175rem;
	

}
.fox .zhucu{
	top:13rem;
}