html{
	font-size: 40px;
	min-width: 320px;/* 最小宽度 */
	max-width: 750px;/* 最大宽度 */
	margin:0 auto;
	font-family: '微软雅黑';
}

.heard{
	height: 2.2rem;
	width: 100%;
	background: #1C1B1F;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.backicon{
      	width:1.5rem;
      	height: 1.5rem;
      	background: url(../images/back.png) no-repeat;
      	position: absolute;
      	background-size:cover;
      	-webkit-background-size:cover;
      	-moz-background-size:cover;
      	-ms-background-size:cover;
      	-o-background-size:cover;
      	top:50%;
      	margin-top: -0.75rem;
      }
.heard h2{
		padding-left: 1.2rem;
		font-size:0.775rem;
		font-family: '微软雅黑';
		line-height: 2.2rem;
		font-weight: normal; 
		}
/*以上为返回代码*/

/*以下为下载即可得188元红包代码样式*/
.fixdown{
	position: fixed;
	width: 18.75rem;
	height: 2.2rem;
	background: url(../images/friend/fixbottum.png) bottom center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	z-index: 999;
	bottom: 0;
}
.banner_03{
	width: 18.75rem;
	height: 13.475rem;
	background: url(../images/friend/banner_03.jpg) center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	margin: 0 auto;
	position: relative;
}
.banner_03 .one{
	font-size: 0.65rem;
	width: 18.75rem;
	font-family: '微软雅黑';
	font-family:'Microsoft YaHei';
	text-align: center;
	position: absolute; 
	color: #6C3D21;
	top:5.55rem;
}

.fixchuang{
	position: fixed;
	width: 17.125rem;
	height: auto;
	top:30%;
	text-align: center;
	z-index: 10000;
	font-family: '微软雅黑';
	left:50%;
	margin-left: -8.5625rem;
	color: #BB132D;
}

.close{
		width: 1.5rem;
		height: 1.5rem;
		background: url(../images/friend/close.png) no-repeat;
		right: -0.5rem;
		top:-0.9rem;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		position: absolute;
	}

.dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .6;
	filter: "alpha(opacity=40)";
	z-index: 9999;
	display: none;
}
.banner_03 b.num{
	font-size: 0.90rem;
	top:9.1rem;
	left:10.2rem;
	position: absolute;
	color: #FBF499;
}
.banner_04{
	position: relative;
}
.fixchuang button.sure{
	position: absolute;
	font-size: 0.90rem;
	width: 7.5rem;
	height: 2.2rem;
	font-family: '微软雅黑';
	color: #BB132D; 
	top:10rem;
	left:50%;
	margin-left: -3.75rem;
	background:url(../images/friend/sure.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
}
.banner_04 button{
	font-size: 0.80rem;
	width: 5rem;
	height: 1.6rem;
	font-family: '微软雅黑';
	color: #fff; 
	top:7.6rem;
	border-radius: 20px;
	left:50%;
	margin-left: -2.5rem;
	background:#E4273D;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover; 
	position: absolute;
}
.fixchuang input{
	width: 14.6rem;
	height: 2.2rem;
	font-size: 0.8rem;
	padding-left: 0.4rem;
	top:3.575rem;
	left:50%;
	border-top: 1px solid #ccc;
	margin-left: -7.5rem;
	position: absolute;
}
#personCardNo{
	top:6.475rem;
}
.fixchuang p.one{
	font-size: 0.90rem;
	width: 17.125rem;
	top:1.5rem;
	text-align: center;
	position: absolute;
}
.fixchuang p.ones{
	font-size: 0.90rem;
	width: 17.125rem;
	top:3.5rem;
	text-align: center;
	position: absolute;
}
.fixchuang p.one span{
	font-size: 1.20rem;
}
.fixchuang b.num{
	font-size: 0.90rem;
	top:6.2rem;
	left:10rem;
	position: absolute;
	color: #FBF499;
}
.fixchuang b.nums{
	font-size: 0.90rem;
	top:8.1rem;
	left:9rem;
	position: absolute;
	color: #FBF499;
}