.fixchuang{
	position: fixed;
	
	width: 80%;
	height: auto;
		top:30%;
		/*border-radius: 10px;
		color: #666;
		background: #fff;*/
		left:50%;
	margin-left: -40%;
		transform: translateX(-50%);
		/*font-size: 0.78rem;
		font-weight: normal;
		text-align: center;*/
		z-index: 10000;
		/*font-family: '微软雅黑';*/
		/*display: none;*/
}
.close{
		width: 0.675rem;
		height: 0.675rem;
		background: url(../images/app-download-close.png) no-repeat;
		right: 10px;
		top:10px;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		position: absolute;
	}
.close:hover{
		width: 0.675rem;
		height: 0.675rem;
		background: red url(../images/app-download-close.png) no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
	}
.dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .6;
	filter: "alpha(opacity=40)";
	z-index: 9999;
	display: none;
}