html{
	font-size: 40px;
	min-width: 320px;/* 最小宽度 */
	max-width: 750px;/* 最大宽度 */
	margin:0 auto;
}
.mainwrap{
	position: relative;
}
.icon_fast{
	
	width:8.175rem;
	height:3.25rem;
	position: absolute;
	z-index: 9999;
	background: cover;
	-webkit-background: cover;
	-o-background: cover;
	-ms-background: cover;
	-moz-background: cover;
	top:13.35rem; 
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	display: block;

}