/**
*  下拉刷新、滚动翻页样式
*  SnoopyChen (ceo@vmeitime.com)
*  2013-04-26
*/

body,ul,li,p,h5 {
	padding:0;
	margin:0;
	border:0;
}
#wrapper {
	position:absolute; z-index:1;
	top:120px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	position:relative;
	/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;
}

#scroller ul {
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

.red_search_wrap{border-bottom: none !important;}

.red_input .ui-input-text{
	margin-top: 0 !important;
}
/**
 *
 * 下拉样式 Pull down styles
 *
 */
#pullDown, #pullUp {
	height:40px;
	line-height:40px;
	padding:5px 0px;
	font-size:12px;
	color:#9c9ba0;
	width: 100%;
	text-align: center;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url(../images/pull-icon.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}


/*------------- S 以下css主要是仿IOS滚动条样式(可选样式)  -------------*/		
/**
 * Horizontal Scrollbar
 */
.myScrollbarH {
	position:absolute;
	z-index:100;
	height:7px;
	bottom:1px;
	left:2px;
	right:7px
}

.myScrollbarH > div {
	height:100%;
}

/**
 * Vertical Scrollbar
 */
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:7px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	width:100%;
}

/**
 * Both Scrollbars
 */
.myScrollbarH > div,
.myScrollbarV > div {
	position:absolute;
	z-index:100;

	/* The following is probably what you want to customize */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	border-width:3px;
	-webkit-border-image:url(../images/scrollbar.png) 6 6 6 6;
	-moz-border-image:url(../images/scrollbar.png) 6 6 6 6;
	-o-border-image:url(../images/scrollbar.png) 6 6 6 6;
	border-image:url(../images/scrollbar.png) 6 6 6 6;
}
/*------------- E 以上css主要是仿IOS滚动条样式  -------------*/



/*以下为我的搜索区域代码*/
.search{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	overflow: hidden;
	padding:9px 15px;
	width: 100%;
	height: 62px;
	box-sizing: border-box;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  -o-box-sizing: border-box;  

}
.search .right button{
	height: 40px;
	width: 106px;
	border-radius: 4px;
	background: #f55c5e;
	color: #fff;
	line-height: 40px;
	float: right;
	font-size: 16px;
	font-weight: normal;

	
}
.search .left{
	
	margin-right: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #999;
	border-radius: 10px;
	background: #fff;
	text-indent: 1em;
	color: #999;

}
.wrap_1{
	display: none;
}
.coupons_div{
	/*border: 1px solid #000;*/
	height: 120px;
	font-size: 14px;
	width: 98%;
	margin: 24px auto;
	box-sizing: border-box;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  -o-box-sizing: border-box;  
	background: url(../images/h5tab.png) no-repeat;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: flex;*/
	max-height: 150px;
	background-size: 100% 100%;


}
.coupons_div_1{
	/*border: 1px solid #000;*/
	height: 120px;
	width: 98%;
	margin: 24px auto;
	box-sizing: border-box;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  -o-box-sizing: border-box;  
	background: url(../images/h5tab1.png) no-repeat;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: flex;*/
	background-size: 100% 100%;



}
.few{
	width: 30%;
	display: inline-block;
	padding-left: 5%;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	padding-top: 10px;
	font-weight: normal;

	/*background: red;*/
}
.few h3 {
	margin: 8px 0;
}
.nex{
	width: 66%;
	height: 150px;
	display: inline-block;
	max-width: 50%;
	/*padding-top: 14px;*/
	font-size: 12px;
	margin-left: 25px;
	line-height: 18px;
	margin-top:10px;
	/*-webkit-flex: 0.6;*/
	position: absolute;


}
.nex span{
	margin: 5px 0;
	line-height: 30px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	display: block;
}
.nex i{
	font-size: 24px;
	font-style: normal;
}
.nex p{
	line-height: 20px;
	vertical-align: middle;
}
.few h3 span{
	font-size: 50px;
	line-height: 50px;
	font-weight: normal;
}


/*以下为礼品未过期*/
.present{
	width: 92%;
	margin: 14px 2%;
	padding: 10px 2%;
	/*box-sizing: border-box;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box;  -o-box-sizing: border-box;  */
	background: #EEF2FE;
	background-size: 100% 100%;
	display: inline-block;
}

.rlef{float:left;width:35%;margin-right:2%;background: #ffffff;text-align: center;}
.rlef img{width:90%;margin:auto 5%;max-height:8rem;vertical-align: middle;}
.rnex{float:left;width:63%;font-size: .7rem;line-height: 1.3rem;text-align: left;}
.ui-navbar ul{width:90% !important; margin: 0 auto;border-radius: 10px !important;overflow: hidden;}
.ui-tabs-acitve{background: #7c91c8 !important; color:#fff !important;}
.top{
	font-size: 16px;
	line-height: 18px;
	margin-bottom:10px;
}
.rnex .top #msg{margin-right: 6% !important;
				display: inline-block;}
.rnex .top i{
	font-style: normal;

}
/*过期手环背景*/
.present_1{
	background: #ccc;
}
.rlef_1{background: #DBDBDB;}
/*第一个彩色手环隐藏*/
.disnone1{
	display: none;
}
/*第2个彩色手环隐藏*/
.disnone2{
	display: none;
}

.search .left.red_input{
	border: none;
}

.search .red_input input{
	border: none;
}



/* APP弹窗提示 */

.dialog .title_msg{font-size: 1.3rem; font-weight: normal;border:none;}
.dialog p{font-size: 0.8rem; line-height: 4.0rem;}
.dialog .down {font-size: 1.0rem; background: #FB793A; padding:6px 16px; border-radius: 8px; color: #fff; margin-top: 20px;}

.dialog{display: none; position:fixed;top:20%;left:50%; width:80%; height: auto; padding: 6%; background:#FFF2C5; margin-left:-40%; z-index:99999; color:#666;  box-sizing:border-box;text-align: center; border-radius: 8px;}
.dialogClose{ position: absolute; width: 2.2rem; height:2.2rem; bottom:-30%; left:50%; margin-left:-1.1rem;  background: url(../images/ducimg/colse.png) center center no-repeat; background-size: auto 80%;} 

 .dark{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: #000;
	opacity: .6;
	filter: "alpha(opacity=40)";
	z-index: 9996;
	display: none; 
}      